body{
  font-size: 16px;
  font-weight:400;
  line-height: 15px;
  font-family: 'Work Sans', sans-serif;
  color: #2f2f2f;


}
.header{}
.c_nav{}

/* .......logo start.................... */
.logo{
  width: 120px;
}
/* ...... Logo end .................................. */
/* .......menu start.................. */
.menu{}
.menu ul li{}
.menu ul li a{
  font-size: 18px;
  font-weight: 500;
  padding: 15px 30px !important;
  border-radius: 5px;
  transition: 0.5s ease-in-out;
}
.menu ul li a:hover{
  color: #fff !important;
  background-color: #C95422;
}
/* .......menu end.................. */
/*....... Banner star ..............*/
.banner{
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("../img/header-bg.jpg");
  box-sizing: border-box;
}
.banner_text{
  padding: 100px 0;
}
.banner_p1{
  line-height: 24px;
}
.banner_h1{
  font-size: 48px;
  font-weight: 700;
  line-height: 70px;
}
.banner_p2{
  line-height: 30px;
  padding: 0 50px 0 0px;
}
.btn_common{
  font-family: 'Work Sans', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  background-color:#C95422;
  color: white;
}
.btn_common:hover{
  background-color: #fff;
  color: #C95422 !important;
}
.banner_btn{
  margin-top: 14px;
  width: 153px;
  height: 43px;
  border: 1px solid #000000;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
}
.banner_img{}
.banner_img img{}
/* Banner end */

/* About Us start */
.aboutus{
  padding-top: 100px;
}
.about_img{}
.about_text{}
.about_p1{
  line-height: 30px;
}
.about_h1{
  font-size: 48px;
  font-weight: 700;
  line-height: 70px;
}
.about_p2{
  line-height: 30px;
}
.about_btn{
  margin-top: 14px;
  width: 153px;
  height: 43px;
  border: 1px solid #000000;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 33px;
}
/* About Us end */

/* feature start */
.feature{
  padding-top: 100px;
  padding-bottom: 50px;
}
.c_title{}
.c_p{
  line-height: 30px;
}
.c_h1{
  font-size: 48px;
  font-weight: 700;
  line-height: 70px;
}
.f_item{
  padding-top: 40px;
}
.f_icon{}
.f_text{
  margin-top: 20px;
}
.f_text h4{
  font-size: 25px;
  font-weight: 500;
  line-height: 35px;
}
.f_text p{
  line-height: 25px;
}
/* feature end */
/* Call to action start */
.calltoaction{
  color: #fff;
  background-image: url("../img/calltoaction.png");
}
.call_p1{
  padding-top: 50px;
}
.call_p2{
  padding-bottom: 50px;
  line-height: 20px;
}
.call_d h1{
  font-size: 40px;
  font-weight: 700;
}
/* Call to action end */